@import "styles/global_style";

.App {
  background-color: $app_bg_clr;
  text-align: center;
  min-height: 100vh;
  //display: flex;
  //flex-direction: column;
  // justify-content: center;
}

  


