// Start: THEME STYLES


// Start: THEME COLORS
// https://coolors.co/0a2e36-755b69-96c5b0-dec5e3-9b7e46
// 0A2E36 Gunmetal Darkest
// 755B69 Old Lavendar
// 96C5B0 Cambridge Blue
// DEC5E3 Thiste Blue
// BF6900 Liver Dogs khaki
// A98743 Mettallic Surburst Brown
// DC9665 Persian Orange
$app_bg_clr: #0A2E36;
$gen_btn_clr: #A98743;
$hover_btn_clr: #F4B393;
$hover_btn_clr2: #FFD700;

// End: THEME COLORS

// Start: Button
$btn-width: 75px;
// End: Button

// End: THEME STYLES

// Start: MEDIA QUERY BREAKPOINTS
$breakpoint-mobile: 433px;
$breakpoint-tablet: 768px;
