.SignUp {
    padding-top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignUpBody {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration-color: red;
}