.FinalInstructions {
  width: 80%;
  background-color: #e6d8dd;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  padding: 5px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    padding: 0px;
  }
}

// .Greetings {
//  width: 80%;
//  color: darkgreen; 
//  border: 2px solid grey;
//  margin: 10px;
// }

.NavNCards {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.LeftArrow {
  height: 20vh;
  width: 30px;
  margin-left: 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  @media only screen and (max-width: 600px) {
    margin-left: 0px;
    width: 20px;
  }
}

.LeftArrow:hover {
  cursor: pointer;
}

.CardsBox {
  height: 50vh;
  width: 90%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  // border: 3px solid red;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.Card {
  background-color: lavenderblush;
  color: brown;
  font-size: .9rem;
  line-height: 1.4rem;
  text-align: justify;
  text-justify: inter-word;
  margin: 15px;
  padding: 10px;
  min-width: 30%;
  border-radius: 20px;
  @media only screen and (max-width: 600px) {
    min-width: 80%;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.Card:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// #sc_0 {
//   scroll-behavior: smooth;
//   overflow-y: scroll;
// }

// #sc_1 {
//   scroll-behavior: smooth;
//   overflow-y: scroll;
// }

.RightArrow {
  height: 20vh;
  width: 30px;
  margin-right: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
  @media only screen and (max-width: 600px) {
    margin-right: 0px;
    width: 20px;
  }
}

.RightArrow:hover {
  cursor: pointer;
}

.CardNum {
  height: 20px;
  width: 40px;
  border: 3px solid pink;
}

/* Custom Scrollbar - begin */
.CardsBox::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

// track
.CardsBox::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
// handle
.CardsBox::-webkit-scrollbar-thumb {
  background: #888;
}

// handle on hover
.CardsBox::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
/* Custom Scrollbar - end */