@import "../../styles/global_style";

.Home {
    padding-top: 97px;
    @media only screen and (min-width: 600px) {
        padding-top: 82px; // 14vh
    }
    // overflow: hidden;
    padding-bottom: 20px;
}

.Home.Hidden {
    padding-top: 2px;
}

.HomeFixedTop {
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 5px;
    @media only screen and (min-width: 600px) {
        padding: 2px;
    }
    background-color: $app_bg_clr;
    z-index: 5;
}

// .HomeFixedTop.Active {
//     left: 0;
//     transition: .2s;
//   }
  
.HomeFixedTop.Hidden {
    top: -100%;
    transition: 1s ease-in;
}

.Home hr {
    display: block;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    // overflow: hidden;
    border-style: inset;
    border-width: 1px;
    opacity: 0.4;
}



