.Header {
  left: 0px;
  top: 0px;
  display: flex;
  position: fixed;
  padding: 5px;
}

.HeaderLeft { 
  // border: 1px groove #f0f;
  width: calc(100vw - 150px - 2px);
 }

.HeaderRight {
  // border: 1px groove #f0f;
  height: 48px;
  width: 150px;
  display: flex;
  align-items: center;
 }