// Start: THEME STYLES


// Start: THEME COLORS
// https://coolors.co/0a2e36-755b69-96c5b0-dec5e3-9b7e46
// 0A2E36 Gunmetal Darkest
// 755B69 Old Lavendar
// 96C5B0 Cambridge Blue
// DEC5E3 Thiste Blue 
// BF6900 Liver Dogs khaki
// A98743 Mettallic Surburst Brown
// DC9665 Persian Orange
// Newer: F75C03 Orange Pantona
// E0A458 Earth Yellow
$app_bg_clr: #0A2E36;
$gen_btn_clr: #A98743;
$hover_btn_clr: #F4B393;
$hover_btn_clr2: #FFD700;
$thistle_blue: #DEC5E3;
$app_bg_clr_lighter_1: #23434A;
$off_white: #e6e6e6;
$black_backlight: #5e5a5f;

$error_text: #FFC0CB;

// End: THEME COLORS

// Start: Button
$btn-width: 75px;
// End: Button

/***** Theme Font-family - start
 */
$default-font-family: "Arial", monospace;
/*****Theme Font-family - end*/

// End: THEME STYLES

// Start: MEDIA QUERY BREAKPOINTS
$breakpoint-mobile: 450px; 
$breakpoint-tablet: 768px;
